.terminal .winContents {
    font-family: Ubuntu Mono, monospace;
    background:#300a24 !important;
    padding: 2px;
    height: 300px;
}

.terminal .winContents p{
    word-break: break-all;
    margin: 0;
    height: 100%;
    overflow: auto;
}